footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: 
        linear-gradient(to bottom, var(--bg-primesec), #f5f5f500, #f5f5f500),
        url("../assets/footbg.png"),
        linear-gradient(to bottom, var(--bg-primesec), var(--bg-primary), var(--bg-primary));
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  
  footer .newsletter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  
    width: 100%;
  
    margin: auto;
  }
  
  footer .newsletter-container h1 {
    font-size: 3rem;
    background: var(--bg-primary);
    font-family: var(--font-header);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  footer .newsletter-container p {
    color: var(--text-primary);
  }
  
  footer .newsletter-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  
    gap: 1rem;
    margin-top: 2rem;
  }
  
  footer .newsletter-container form input {
    padding: 0.8rem;
    width: 40%;
    border: 1px solid var(--bg-primesec);
    border-radius: 5px;
  }
  
  footer .newsletter-container form button {
    all: unset; 
    background: none; 
    border: none; 
    padding: 0;
    font: inherit; 
    cursor: pointer; 
    text-align: center; 
  
    cursor: pointer;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    padding: 0.8rem 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 900;
  
    background-image: url("../assets/contbg.png");
    background-size: contain;
    background-position: center;
  }
  
  footer .newsletter-container form button:hover {
    opacity: 0.8;
  }
  
  footer .footer-container {
    border-top: 1px solid var(--bg-primesec);
    width: 100%;
  
    max-width: 1200px;
    margin: auto;
  }
  
  footer .footer-container .content {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }
  
  footer .footer-container .content #brand {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-decoration: none;
    line-height: 1;
  }
  
  footer .footer-container .content #brand img {
    width: 48px;
    height: 48px;
  }
  
  footer .footer-container .content #brand h1 {
    font-size: 1.5rem;
    color: var(--text-primary);
    font-family: var(--font-tertiary);
  }
  
  footer .footer-container .content #brand p {
    font-size: 0.8rem;
    color: var(--text-primary);
  }
  
  footer .footer-container #right {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    color: var(--text-primary);
  
    gap: 4rem;
  }
  
  footer .footer-container #right h3 {
    color: var(--text-primary);
    margin-bottom: 8px;
  }
  
  footer .footer-container #right #quick-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  footer .footer-container #right #contact {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  footer .footer-container #right #quick-links a {
    list-style: none;
    color: var(--text-primary);
    text-decoration: none;
  }
  
  footer .footer-container #right #quick-links a:hover {
    text-decoration: underline;
  }
  
  footer .footer-container #bottom {
    border-top: 1px solid var(--bg-tertiary);
    width: 100%;
    padding: 1rem;
  
    font-size: 0.8rem;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-primary);
  }
  
 #socials {
    display: flex;
    gap: 1rem;
  }
  
 #socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  
    text-decoration: none;
    color: var(--text-primary);
    background-color: var(--bg-primesec);
    width: 36px;
    height: 36px;
    border-radius: 100%;
  
    cursor: pointer;
  }
  
#socials a:hover {
    opacity: 0.8;
  }
  
  /* facebook */
#socials a:hover:nth-child(1) {
    color: #0762f8;
  }
  
  /* instagram */
#socials a:hover:nth-child(3) {
    color: #f74e68;
  }
  
  /* linkedin */
#socials a:hover:nth-child(4) {
    color: #0471ae;
  }