.hero-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    background-image: 
        url("../assets/hero.gif"),
        var(--bg-gradient-prime), 
        linear-gradient(to bottom, var(--bg-primary), var(--bg-primary), var(--bg-primesec));

    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

    height: 760px;

    opacity: 1;
    transition: opacity 2s ease-out;
}

.hero-section.loaded {
    opacity: 0;
}

.hero-section p {
    align-self: center;
    margin-left: 2.7vw;
    margin-top: 75vh;

    color: var(--text-primary);
    font-family: var(--font-header);

    font-weight: 700;
    font-size: 1.2rem;
}
