@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Chelsea+Market&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font-primary: "Inter", serif;
    --font-header: "Chelsea Market", serif;
    --font-tertiary: "Barriecito", serif;

    --bg-primary: whitesmoke;
    --bg-secondary: #ffffff49;
    --bg-tertiary: #a0a88243;
    --bg-gradient-prime: linear-gradient(#00000000, #859b7f80, #00000000);

    --bg-primesec: #a0a882;

    --text-primary: #161414;
}

[data-theme="dark"] {
    --bg-primary: #a0a882;
    --bg-secondary:#a0a88249;
    --bg-tertiary: #f5f5f54c;
    --bg-gradient-prime: linear-gradient(#00000000, #fefffe4d, #00000000);

    --bg-primesec: whitesmoke;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
    scroll-margin-top: 10rem;
}

body {
    font-family: var(--font-primary);
    font-size: 1rem;
    line-height: 1.6;

    max-width: 100%;
    max-height: 100%;
    color: var(--text-primary);
    background-color: var(--bg-primary);
}

main {
    width: 100%;
    min-height: 80vh;
    font-size: 0.85rem;
}

main::before {
    content: "";
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    height:80vh;
    
    background-image: url("../assets/biobg(1).png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;

    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black 15%, black 85%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black, black, rgba(0, 0, 0, 0));

    z-index: 0;
}

.hero-section, .blog-section, .gallery-section, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    min-height: 700px;
}

#disclaimer {
    display: none; 
}

@media only screen and (max-width: 940px) {
    header,
    main,
    footer {
      visibility: hidden;
    }
  
    body #disclaimer {
      display: block;
      padding: 1rem;
      text-align: center;
  
      background: black;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
